
/**
 * Styling for the splash/login page.
 * Restyled for federated login.
 */

#splash {

  .login {
    background: #25AAA0;
    position: absolute;
    top: 80px;
    left: 50%;
    margin: 0 0 0 -195px;
    padding-top: 60px;
    width: 390px;
    border: 1px solid #10206B;
    max-height: none;
    border-radius: 6px;
    box-shadow: 0 3px 7px #66C3BC;
    background-clip: padding-box;

    p#help_text {
      display: none;
      padding: 1em 0.5em;
      margin: 0;
    }
  }

  p.help-block {
    display: none;
  }
}