{% extends "horizon/common/_modal_form.html" %}
{% load i18n %}

{% block modal-body-right %}

    <h3>{% trans "Description:" %}</h3>
    <p>{% trans "Create a new user and set related properties including the Primary Project and Role." %}</p>
    <script type="text/javascript">
//    if (typeof horizon.user !== 'undefined') {
//        horizon.user.init();
//    } else {
//        addHorizonLoadEvent(function () {
//            horizon.user.init();
//        });
//    }

    </script>

{% if  form.user_exists %}
<div style="padding-top:2rem">
    <span class="alert alert-info" style="border-radius:1rem;background-color:lightcoral; color:darkred"> User already Exists! </span>
</div>
{% endif %}
{% endblock %}




